.navbar-style {
     display: flex;
     justify-content: space-around;
}

.logo-navbar {
     width: 300px;
}

.navbar-list {
     display: flex;
     gap: 2rem;
}

.navbar-list>li {
     list-style: none;
     font-size: 1.2rem;
     font-weight: bolder;
     /* text-transform: uppercase; */
}

.navbar-list>li>a {
     text-decoration: none;
     color: #000;
}

.navbar-list>li>a:hover {
     border-bottom: 5px dotted #ddcb05;
     transition: linear .1s;
     -webkit-transition: linear .1s;
     -moz-transition: linear .1s;
     -ms-transition: linear .1s;
     -o-transition: linear .1s;
}